@import url('https://fonts.googleapis.com/css?family=Quicksand|ABeeZee');

.image-background{
    background-image: "../assets/art.jpg";
    position: fixed;
    right: 0; 
    bottom: 0;
    min-width: 100%; 
    min-height: 100%;
    width: 100vw;
    height: auto;
    z-index: -100;
}

.title{
    font-weight: bold;
    font-size: 7vh;
    color: rgb(124, 34, 11);
    font-family: Quicksand, Verdana;
    padding-bottom: 8px;
}

.header{
    font-weight: bold;
    font-size: 3.5vh;
    color: rgb(184, 73, 22);
    font-family: Quicksand, Verdana;
    padding-bottom: 8px;
}

.text{
    font-size: 2.5vh;
    color: black;
    font-family: Quicksand, Verdana;
}

.spacer{
    padding: 10px;
}

.card{
    background-color: rgb(241, 222, 185);
}

