<img class="image-background" src="../assets/art.jpg">

<body>
  <md-card class="card">
    <md-card-header class="title">
        Yaamagara
    </md-card-header>
    <md-card-content class="text">
        We are a group of humanitarian people who wish to corroborate with the Australian Indigenous people to save their culture and their land. 
    </md-card-content>
  </md-card>
  <div class="spacer"></div>
  <md-card class="card">
    <md-card-header class="header">
        Wow, that's interesting tell me more..
    </md-card-header>
    <md-card-content class="text">
        We have generations of Indigenous Australians suffering from ongoing cultural genocide leaving them to live in a place of constant confusion and mistrust.  They struggle to connect to their spirit within and find it difficult to reconnect to their land.  The result is generations of angry, depressed and disconnected Indigenous people.
        So what do we do is fund, mentor, educate and provide real-life experience for Peacemakers creating on purpose projects supporting our Indigenous people’s culture, their ancient wisdom and the longevity of their Land. 
    </md-card-content>
  </md-card>
  <div class="spacer"></div>
  <md-card class="card">
    <md-card-header class="header">
        So how can we help?
    </md-card-header>
    <md-card-content class="text">
        We are seeking ideal sponsors, who have been blessed with monetary wealth and are genuinely ready, willing and able to give back.  
        So we can give to the PeaceMakers, whom we consider to be the young at heart and who are willing to initiate or contribute to on purpose projects the support, they require. 
        So that their projects corroborate the Indigenous Australians which result in more sustainable life choices for them and their extended family and country.  We believe wise people make peaceful decisions      
    </md-card-content>
  </md-card> 
  <div class="spacer"></div>
  <md-card class="card">
      <md-card-header class="header">
          Wow - What can I do?
      </md-card-header>
      <md-card-content class="text">
          Join our mob, by subscribing to our newsletter, becoming a sponsor or to apply to join our community of Peacemakers to receive the necessary contributions for facilitating the change.
      </md-card-content>
  </md-card> 
  <div class="spacer"></div>
  <md-card class="card">
      <md-card-header class="text">
          “Our divine purpose is to become self Realized, reclaim our inheritance to live as Peacemakers” <i>- Gabriel Heart</i>
      </md-card-header>
  </md-card>  
</body>